# Global snippets
# rm _.snippets && ln -s _-scott.snippets _.snippets

snippet copy
	// Copyright `strftime("%Y")` Google Inc. All Rights Reserved.
	
snippet todo
	TODO(`g:snips_ldap`): 
snippet author
	@author scottkirkwood@google.com (Scott Kirkwood)
snippet log
	window.console.log('$1');
snippet can
	the candidate
