# Global snippets
# rm _.snippets && ln -s _-scott.snippets _.snippets

snippet copy "Copyright"
	// Copyright `strftime("%Y")` Google Inc. All Rights Reserved.
	
snippet todo "Todo"
	TODO(`g:snips_ldap`): 
endsnippet

snippet author "Author"
	@author scottkirkwood@google.com (Scott Kirkwood)
endsnippet

snippet log "log"
	window.console.log('$1');
endsnippet

snippet can "Candidate"
	the candidate
endsnippet

