# snippets for C files.

snippet copy "Copyright" b
// Copyright `!v strftime("%Y")` Google Inc. All Rights Reserved.

endsnippet

snippet todo "Todo" b
// TODO(`!v g:snips_ldap`): ${0:todo}
endsnippet

snippet author "Author" b
// Author: `!v g:snips_email` (`!v g:snips_author`)
endsnippet
