# snippets for Go files.

snippet tests "Tests loop"
tests := []struct {
		in   string
		want string
}{
	{"", ""},
}
for _, test := range tests {
	got := ${1:fun}(test.in)
	if got != test.want {
		t.Errorf("$1(%v) = %v, want %v", test.in, got, test.want)
	}
}
endsnippet

snippet sorted "Sorted"
func ($1 $2) Len() int           { return len($1) }
func ($1 $2) Less(i, j int) bool { return $1[i] < $1[j] }
func ($1 $2) Swap(i, j int)      { $1[i], $1[j] = $1[j], $1[i] }
endsnippet
