snippet todo "Todo"
TODO(scottkirkwood): 
endsnippet

snippet logsak
LOG(INFO) << "sak: $0";
endsnippet

snippet author "Author"
Author: scottkirkwood@google.com (Scott Kirkwood)
endsnippet

snippet ci "Inline comment"
// ($0)
endsnippet

snippet cb "Bottom comment" b
($1) $0
endsnippet

snippet prettyprint "Prettyprint Markdown"
<pre class=prettyprint>
$0
</pre>
endsnippet
