snippet can "Candidate"
the candidate
endsnippet

snippet feedback "Interview Feedback"
* Onsite: HIRE/NO HIRE

See http://go/scottk-interview-questions

* Coding Ability:


* Analytical/Cognitive Ability:


* Experience Relevant to Google:


* Communication Skills:


* Google Culture Fit:


* OVERALL CONCLUSIONS:

endsnippet

snippet help "Help HTML"
<help  helpid='$1' title='$2' type='$3'>
$0
</help>

endsnippet
